.catalog {
	display: flex;
	gap: var(--gutter);
}

.catalog-parent-categories {
	flex: 1;
	max-width: 320px;
	padding-right: calc(var(--gutter) / 2);
	border-right: 1px solid var(--gray);
}

.catalog-parent-categories ul, .catalog-parent-categories ul li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.catalog-parent-categories__item a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	padding: calc(var(--gutter) / 2);
	border-radius: calc(var(--gutter) / 4);
}
.catalog-parent-categories__item a:hover {
	background-color: var(--gray);
}

.catalog-category {
	padding: calc(var(--gutter) / 2);
}

.catalog__category {
	flex: 1;
}

.catalog-category__title {
	margin-top: 0;
}

.catalog-category__title a {
	display: flex;
	align-items: center;
}

.catalog-category__title span {
	margin-right: calc(var(--gutter) / 2);
}

.catalog-category__grid, .catalog-categories ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.catalog-category__grid {
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	height: 100%;
}

.catalog-category__grid::after {
	content: '';
	flex-basis: 100%;
	width: 0;
	order: 2;
}

.catalog-category__grid::before {
	content: '';
	flex-basis: 100%;
	width: 0;
	order: 2;
}

.catalog-categories {
	max-width: calc(100% / 3 - 20px);
}

.catalog-category__item {
	margin-top: var(--gutter);
}

.catalog-category__item:nth-child(3n + 3) {
	order: 3;
}

.catalog-category__item:nth-child(3n + 2) {
	order: 2;
}

.catalog-category__item:nth-child(3n + 1) {
	order: 1;
}

.catalog-categories__title {
	margin: 0 0 12px 0;
}

.catalog-categories__item {
	margin: 4px 0;
}

