.desktop-catalog {

}

.desktop-catalog__aside {
	max-width: 320px;
}

.catalog-aside ul, .catalog-aside ul li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.catalog-aside__item a {
	display: flex;
	justify-content: space-between;
	padding: calc(var(--gutter) / 4);
}