/* USER VARIABLES SECTION */

:root {
	--accent: #e31e24;
	--text: #212121;
	--gray: #ebebeb;
	--regular-text: 14px;
	--lineheight: 1.65;
	--userfont: mont, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--gutter: 24px;

	--trs: .25s ease;

	/* variable button size */

	--button-size: 36px;

	/* variable breakpoints */

	--sm: 576px;
	--md: 768px;
	--lg: 860px;
	--xl: 1200px;
	--xxl: 1400px;
}

@media (max-width: 576px) {
	:root {
		--button-size: 40px;
		--gutter: 16px;
	}
}

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/Montserrat-Regular.woff2") format("woff2"); font-family: "mont"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/Montserrat-Medium.woff2") format("woff2"); font-family: "mont"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/Montserrat-Bold.woff2") format("woff2"); font-family: "mont"; font-weight: 700; font-style: normal; }

/* GENERAL CSS SETTINGS */

* {
	box-sizing: border-box;
}

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */

.c-container {
	max-width: 1400px;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	margin-left: auto;
	margin-right: auto;
}

.h3 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

@media (max-width: 860px) {
	.h3 {
		font-size: 1.2em;
		line-height: 1.2em;
		margin-bottom: 10px;
	}
}

.h4 {
	display: block;
	font-size: 1.15em;
	font-weight: bold;
	margin: calc(var(--gutter) / 2) 0 var(--gutter) 0;
}

.h5 {
	display: block;
	font-size: 1em;
	font-weight: bold;
	margin: calc(var(--gutter) / 2) 0;
}

.c-header {
	margin-top: var(--gutter);
}

.c-header__top-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-header__phone {
	font-weight: bold;
	text-decoration: none;
	color: var(--regular-text);
}

.c-header-nav ul, .c-header-nav__item {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
}

.c-header-nav--full ul {
	display: flex;
	flex: 1 0 0%;
}

.c-header-nav--full ul li {
	flex: auto;
	text-align: left;
}

.c-header-nav__item:not(:first-child) {
	margin-left: 7px;
}

.c-header-nav__item a {
	position: relative;
	text-decoration: none;
	color: var(--regular-text);
}

.c-header-nav__item a:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var(--accent);
	opacity: 0;
	transition: opacity .25s ease;
}

.c-header-nav__item a:hover::after {
	opacity: 1;
}

.c-header-nav__item--active {
	color: var(--accent);
}

.c-header-nav__item--active a::after {
	opacity: 1;
}

.link {
	position: relative;
	display: inline-block;
	color: var(--text);
	text-decoration: none;
	cursor: pointer;
	transition: color .25s ease;
}

/* .link::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: scale(1.15);
} */

.link:hover, .link:focus, .link:active {
	color: var(--accent);
}

.c-header__logo {
	font-size: 28px;
	white-space: nowrap;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--accent);
	text-decoration: none;
	transition: opacity .25s ease;
}

@media (max-width: 576px) {
	.c-header__logo {
		font-size: 24px;
	}
}

.c-header__logo:hover {
	opacity: .8;
}

.c-header__logo:focus, .c-header__logo:active {
	color: var(--accent);
}

.c-header__middle-line {
	margin: calc(var(--gutter) / 2) 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--gutter);
}

.c-header__catalog-button {
	cursor: pointer;
	background-color: var(--gray);
}

.c-header__catalog-button--active {
	color: #fff;
	background-color: var(--accent);
}

.c-header__search {
	flex: 1;
}

.c-form-control {
	position: relative;
	height: var(--button-size);
	width: 100%;
	display: flex;
	align-items: center;
}

.c-form-control__input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	text-indent: calc(var(--gutter) / 2);
	border: 1px solid var(--gray);
	border-radius: 6px;
}

.c-form-control__submit {
	width: calc(var(--button-size) * 2);
	margin-left: auto;
	z-index: 1;
}

@media (max-width: var(--sm)) {
	.c-form-control__submit {
		width: calc(var(--button-size) * 2);
	}
}

.l-container-buttons {
	display: flex;
	gap: var(--gutter);
}

.c-header__button {
	position: relative;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-counter {
	top: -1px;
	right: -6px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 14px;
	border-radius: 5px;

	box-shadow: 0 0 0 2px #fff;

	font-weight: bold;
	font-size: 9px;
	line-height: 0;
	
	color: #fff;
	background-color: var(--accent);
}

@media (max-width: 1280px) {
	.c-header-nav--full ul li:nth-last-child(-n+1) {
		display: none;
	}
}
@media (min-width: 1024px) and (max-width: 1280px) {
	.c-header-nav--full ul li:nth-last-child(-n+2) {
		display: none;
	}
}
@media (min-width: 992px) and (max-width: 1024px) {
	.c-header-nav--full ul li:nth-last-child(-n+3) {
		display: none;
	}
}
@media (max-width: 992px) {
	.c-header-nav--full ul li:nth-last-child(-n+4) {
		display: none;
	}
}
@media (max-width: 860px) {
	.c-header__top-line {
		display: none;
	}
	.c-header__bottom-line {
		display: none;
	}
	.c-header__catalog-button {
		display: none !important;
	}
	.l-container-buttons {
		display: none !important;
	}

	.c-header__middle-line {
		flex-wrap: wrap;
		gap: calc(var(--gutter) / 2);
	}

	.c-header__search {
		margin-top: calc(var(--gutter) / 2);
		width: 100%;
		flex: auto;
	}

	.c-form-control__submit {
		width: calc(var(--button-size) * 1.5);
	}
}

.c-header__hamburger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 32px;
	height: 24px;
	cursor: pointer;
	transition: transform .2s ease;
}

.c-header__hamburger span {
	position: relative;
	display: block;
	width: 100%;
	height: 3px;
	border-radius: 3px;
	background-color: var(--text);
}

.c-header__hamburger span:nth-child(2) {
	transition: opacity .2s ease;
}

.c-header__hamburger--active {
	transform: rotate(calc(-45deg * 3));
}

.c-header__hamburger--active span:nth-child(1) {
	top: 10px;
}

.c-header__hamburger--active span:nth-child(1) {
	opacity: 0;
}


.c-header__hamburger--active span:nth-child(3) {
	bottom: 10px;
	transform: rotate(90deg);
}

@media (max-width: 860px) {
	.c-header__hamburger {
		display: flex;
	}

	.c-header__logo {
		margin-left: auto;
	}

}

.button {
	display: inline-block;
	font-weight: bold;
	height: var(--button-size);
	line-height: var(--button-size);
	padding: 0 16px;
	border: 0;
	border-radius: 6px;
	color: var(--regular-text);
	text-decoration: none;
	cursor: pointer;
}

.button--icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button--gray {
	background-color: var(--gray);
	transition: background-color .25s ease, color .25s ease;
}

.button--gray:hover {
	background-color: var(--accent);
	color: #fff;
}

.button--square {
	line-height: normal;
	padding: 0;
	height: var(--button-size);
	width: var(--button-size);
}

.button--transparent {
	background-color: transparent;
	transition: background-color .25s ease;
}

.button--transparent:hover {
	background-color: var(--gray);
}

.catalog {
	position: absolute;
	width: calc(100% - var(--gutter) * 2);
	background-color: #fff;
	z-index: 100;
	padding: 0;
	margin: 0;
	box-shadow: 0 20px 20px 5px rgba(0,0,0,.1);
}

.catalog__categories {
	position: relative;
	padding: 0;
}

.catalog__item {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.catalog__item > .link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.catalog-child-categories__item {
	list-style-type: none;
}

.catalog-child-categories__item a {
	position: relative;
	display: inline-block;
	margin-bottom: 5px;
}

@media (max-width: 860px) {

	footer {
		height: 300px;
		background-color: var(--text);
		display: flex;
	}

	.wrap {
		font-size: 32px;
		color: #fff;
		margin: auto;
		letter-spacing: 0.5em;
		text-transform: uppercase;
	}

	.bottom-nav {
		position: fixed;
		bottom: 10px;
		left: 10px;
		padding: 0 var(--gutter);
		border-radius: calc(var(--gutter) / 1.5);
		height: 80px;
		width: calc(100% - 20px);
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1002;
		background-color: var(--gray);
	}

	.bottom-nav__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--text);
		text-decoration: none !important;
	}

	.bottom-nav__icon {
		position: relative;
		font-size: 20px;
	}

	.bottom-nav__icon-counter {
		right: -16px;
	}

	.bottom-nav__text {
		font-size: 13px;
	}

	.bottom-nav__item--active .bottom-nav__text {
		font-weight: bold;
		color: var(--accent);
	}

	.catalog {
		width: 100%;
		height: 100vh;
		overflow-y: scroll;
		left: 0;
	}

	.catalog__item {
		padding: 0 var(--gutter);
	}

	.link:hover,.link:focus {
		color: inherit;
	}

	.catalog--animation {
		transform: translateX(calc(-100% - var(--gutter)));
		transition: transform var(--trs);
	}
	
	.catalog--active {
		transform: translateX(0);
	}

	.catalog__button .link {
		font-weight: bold;
		color: var(--accent);
	}

	.catalog__button--active i {
		margin: 0 !important;
		transform: rotate(180deg) !important;
	}

	.catalog__categories {
		display: none;
	}

	.catalog__categories--active {
		display: block;
	}
	
	.catalog__item .link {
		padding: calc(var(--gutter) / 2) 0;
		border-bottom: 1px solid var(--gray);
	}

	.catalog-category {
		height: 0;
		overflow: hidden;
	}
	
	.catalog-category--active {
		height: 100%;
	}

	.catalog-category__item {
		padding: calc(var(--gutter) / 2) var(--gutter);
	}

	.catalog__item--active .link {
		color: var(--accent);
		font-weight: bold;
	}

	.catalog__item--active i {
		transform: rotate(90deg);
		margin-right: 2px;
	}

	.catalog__category-title {
		display: none;
	}

	.catalog-child-categories {
		padding: 0;
	}

	.catalog__navigation {
		padding: 0;
	}

	.catalog__decoration {
		position: relative;
		height: calc(var(--gutter) / 5);
		background-color: var(--gray);
		top: -1px;
		box-shadow: 0 1px 0 1px var(--gray);
	}

	.catalog__decoration--large {
		height: calc(var(--gutter) * 2);
	}

}

@media (min-width: 860px) {

	.bottom-nav {
		display: none;
	}

	.catalog {
		display: flex;
		width: 100%;
		left: 0;
		padding-bottom: var(--gutter);
	}

	.catalog--animation {
		visibility: hidden;
		opacity: 0;
		transition: opacity var(--trs), visibility var(--trs);
	}
	
	.catalog--active {
		visibility: visible;
		opacity: 1;
	}

	.catalog__categories {
		width: var(--xxl);
		padding-left: calc(var(--gutter) / 2);
		padding-right: calc(var(--gutter) / 2);
		margin: 0 auto;
	}

	.catalog__item {
		width: 320px;
		padding-right: calc(var(--gutter) / 2);
		border-right: 1px solid var(--gray);
	}

	.catalog__item .link {
		border-bottom: none;
		padding: calc(var(--gutter) / 2);
		border-radius: calc(var(--gutter) / 4);
		transition: background-color var(--trs);
	}

	.catalog__item:hover .link {
		background-color: var(--gray);
	}

	.catalog__item--active .link {
		background-color: var(--gray);
		color: var(--accent);
	}
	
	.catalog__category {
		position: absolute;
		top: 0;
		left: calc(320px + calc(var(--gutter) * 1.5));
		right: 0;
		bottom: 0;
	}
	
	.catalog-category {
		list-style-type: none;
		overflow-y: auto;
	}

	.catalog-category {
		opacity: 0;
		visibility: hidden;
		transition: opacity var(--trs), visibility var(--trs);
	}
	
	.catalog-category--active {
		visibility: visible;
		opacity: 1;
	}
	
	.catalog__category-title {
		display: flex;
		align-items: center;
	}
	
	.catalog__category-title a span {
		margin-right: calc(var(--gutter) / 2);
	}
	
	.catalog-category__categories {
		column-count: 3;
		-moz-column-gap: var(--gutter);
		column-gap: var(--gutter);
	}
	
	.catalog-category__item {
		display: table;
		page-break-inside: avoid;
		break-inside: avoid-column;
		margin-bottom: var(--gutter);
	}
	
	.catelog-category__item a {
		display: flex;
		align-items: center;
	}
	
	.catalog-child-categories {
		padding: 0;
	}

	.catalog__button {
		display: none;
	}

	.catalog__navigation {
		display: none;
	}

	.catalog__decoration {
		display: none;
	}

}

.section {
	margin: calc(var(--gutter) * 2) 0;
}

.categories-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 232px);
	grid-gap: var(--gutter);
}

.categories-grid__item:nth-child(1) {
	grid-column: 1 / 3;
	grid-row: 1
}

.categories-grid__item:nth-child(2) {
	grid-column: 3;
	grid-row: 1;
}

.categories-grid__item:nth-child(3) {
	grid-column: 1;
	grid-row: 2;
}

.categories-grid__item:nth-child(4) {
	grid-column: 2;
	grid-row: 2;
}

.categories-grid__item:nth-child(5) {
	grid-column: 3;
	grid-row: 2;
}

.categories-grid__item:nth-child(6) {
	grid-column: 1;
	grid-row: 3;
}

.categories-grid__item:nth-child(7) {
	grid-column: 2 / 4;
	grid-row: 3;
}

.categories-grid__item:nth-child(8) {
	grid-column: 4;
	grid-row: 1 / 4;
}

@media (max-width: 1024px) {

	.categories-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 232px);
	}
	
	.categories-grid__item:nth-child(1) {
		grid-column: 1 / 3;
		grid-row: 1
	}
	
	.categories-grid__item:nth-child(2) {
		grid-column: 1;
		grid-row: 2;
	}
	
	.categories-grid__item:nth-child(3) {
		grid-column: 2;
		grid-row: 2;
	}
	
	.categories-grid__item:nth-child(4) {
		grid-column: 1;
		grid-row: 3;
	}
	
	.categories-grid__item:nth-child(5) {
		grid-column: 1;
		grid-row: 4;
	}
	
	.categories-grid__item:nth-child(6) {
		grid-column: 2;
		grid-row: 3;
	}
	
	.categories-grid__item:nth-child(7) {
		grid-column: 2 / 4;
		grid-row: 4;
	}
	
	.categories-grid__item:nth-child(8) {
		grid-column: 3;
		grid-row: 1 / 4;
	}

}

@media (max-width: 860px) {

	.categories-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, auto);
	}

	.category-card__image {
		width: 100%;
		height: 100%;
	}
	
	.categories-grid__item:nth-child(1) {
		grid-column: 1 / 3;
		grid-row: 1
	}
	
	.categories-grid__item:nth-child(2) {
		grid-column: 1;
		grid-row: 2;
	}
	
	.categories-grid__item:nth-child(3) {
		grid-column: 1;
		grid-row: 3;
	}
	
	.categories-grid__item:nth-child(4) {
		grid-column: 1;
		grid-row: 4;
	}
	
	.categories-grid__item:nth-child(5) {
		grid-column: 1;
		grid-row: 5;
	}
	
	.categories-grid__item:nth-child(6) {
		grid-column: 2;
		grid-row: 5;
	}
	
	.categories-grid__item:nth-child(7) {
		grid-column: 1 / 3;
		grid-row: 6;
	}
	
	.categories-grid__item:nth-child(8) {
		grid-column: 2;
		grid-row: 2 / 5;
	}

}


.category-card {
	position: relative;
	display: block;
	border-radius: calc(var(--gutter) / 2);
	overflow: hidden;
}

.category__overlay {
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity var(--trs);
}

.category-card:hover .category__overlay {
	opacity: 0.25;
}

.category-card__wrapper {
	top: var(--gutter);
	left: var(--gutter);
	right: var(--gutter);
	position: absolute;
}

.category-card__title--center {
	text-align: center;
}
